{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock css %}

{% block main %}

<main>
    <div class="upperbar-div">
        <span class="username-holder-span">Username : <span style="color: #FF6B6B;
                                                                    margin-left: 0.25rem;">{{ user.username }}</span></span>

    </div>




    <div class="statsPage-div">

        <div class="statsPage-row">
            <span>total focused minutes <strong>:</strong> </span>
            <div>{{ all_minute }}</div>
        </div>

        <div class="statsPage-row">
            <span>total cycles <strong>:</strong> </span>
            <div>{{ cycle_amount }}</div>
        </div>

        <div class="statsPage-row">
            <span>total sessions <strong>:</strong> </span>
            <div>{{ all_session }}</div>
        </div>




    </div>
</main>














{% block js %}
<script src="{% static 'profile.js' %}"></script>
{% endblock js %}

{% endblock main %}