main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.upperbar-div {
    display: flex;
    justify-content: space-evenly;
    height: 4rem;
    margin-top: 2rem;
    width: 60%;
    gap: 1rem;
    background-color: #27282F;
    box-shadow: 0px 0px 10px 1px #ff6b6bf9;
    border-radius: 0.25rem;
    /* box-shadow: 0px 4px 10px 0px rgba(135, 241, 245, 0.592); */

}
    
.username-holder-span {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.change-username-button {
    background-color: gray;
    border: 1px solid rgb(156, 239, 171);
    color: rgb(156, 239, 171);
    font-size: 1.2rem;
    font-weight: 500;
    width: 6rem;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 0px rgba(153, 255, 175, 0.3);

}

.statsPage-div {
    margin-top: 1rem;
    background-color: #292d30;
    border: 1px solid #FF6B6B;
    border-radius: 0.5rem;
    height: 45rem;
    width: 50%;

}

.statsPage-row {
    margin: 0.5rem 4rem 0 4rem;
    display: flex;
    justify-content: space-between;
}

.statsPage-row :nth-child(1){
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
}

.statsPage-row div {
    font-weight: 600;
    color: #FF6B6B;
}

.username-change-overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    height: 100%;
}

#username-change-overlay.changing-view{
    display: block;
    position: absolute;
    top: 0px;
}

.username-button {
    box-shadow: 0px 0px 10px 5px rgba(153, 255, 175, 0.534);
}