*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    margin: 0px;
    background-color: grey;

}

html{
    background-color: grey;
    margin: 0 5% 0 5%;
    border-left: 2px solid rgb(151, 151, 151);
    border-right: 2px solid rgb(151, 151, 151);
}
@media (min-width: 600px){
    html {
        margin: 0 8% 0 8%;
    }
}
@media (min-width: 1240px) {
    html {
        margin: 0 14% 0 14%;
    }
}

.navbar{
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;

}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar.mobile-view{
    flex-direction: column;
    height: auto;
    position: absolute;
    z-index: 10;
    right: 5%;
    left: 5%;
    border-radius: 10px;
    padding-bottom: 1rem;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.navbar.mobile-view .nav-element{
    display: block;
    text-align: center;
}

.nav-element{
    padding: 1rem 1rem 1rem 1rem;
    /* border-radius: 30%; */
    display: none;
    font-size: 1.2rem;

}

.nav-element:hover{
    background-color: rgba(235, 220, 201, 0.918);

}

.hamburger{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 1rem;

}

.hamburger button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    aspect-ratio: 1 / 1;
    padding: 1rem;
    border: 0px;
    border-radius: 25%;
    background-color: antiquewhite;
}

.hamburger button:hover{
    background-color: rgba(240, 224, 204, 0.829);
    transition: 0.3s ease;
}

.hamburger button:active{
    background-color: rgba(224, 210, 193, 0.733);
    transform: scale(1.03);
}

.hamburger img{
    width: 100%;


}

@media (min-width: 600px){
    .navbar{
        flex-direction: row;
    }
    .nav-element{
        display: block;
        width: 100%;
        text-align: center;
    }
    .hamburger{
        display: none;
    }
}


/* .h1-texts-div {
    height: 8rem;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-text{
    text-align: center;
    margin: 0px;
} */
