<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "base.css" %}">
    {% block css %}
    {% endblock css %}
</head>
<body>
    <h1>this is a timer</h1>
    <nav class="navbar" id= "navbar">
        <div class="hamburger"><button  onclick= "handle_hamburger()"><img src="{% static "hamburger.png" %}" alt=""></button></div>
        {% for x in navbar %}
        <a href="{% url x %}">
            <div class="nav-element" id= "nav-element-{{x}}">{{x}}</div>
        </a>
        {% endfor %}
    </nav>

    {% block main %}{% endblock main %}
    {% block js %}{% endblock js %}
</body>
</html>