<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "base.css" %}">
    {% block css %}
    {% endblock css %}
</head>
<body>
    <nav class="navbar" id= "navbar">
        <div class="hamburger"><button onclick= "handle_hamburger()"><img src="{% static "hamburger.png" %}" alt=""></button></div>
        <div class="userstate-div">
            {% if user.is_authenticated %}
                <a class="username-button" href="{% url 'profile' %}">
                    {{ user.username }}
                </a>

                <form action="{% url 'logout' %}" method="post" class="logout-form"> {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% else %}
                <span class="guest-span">Guest Mode</span>
                <a href="{% url 'login' %}" class="login-page-button">Login</a>
            {% endif %}
        </div>

            


        </span>

        <div class="inner-navbar-holder">
            {% for x in navbar %}
            <a href="{% url x %}">
                <div class="nav-element" id= "nav-element-{{x}}">{{x}}</div>
            </a>
            {% endfor %}
        </div>
    </nav>

    <!-- <div class="h1-texts-div">
        <h1 class="h1-text">this is a timer</h1>
    </div> -->


    {% block main %}{% endblock main %}
    <script src= "{% static 'timer.js' %}" ></script>
    {% block js %}{% endblock js %}
</body>
</html>