{% extends "base.html" %}
{% load static %}



{% block css %}
    <link rel="stylesheet" href="{% static "timer.css" %}">
{% endblock css %}


{% block main %}
    {% csrf_token %}
    <main id= "main-element">

        <div class="selector-overlay" id= "selector-overlay">
            <div class= "selector-div" id= 'selector-div'>
                <button class="exit-button" onclick="handle_selector_exit()"><span>&times;</span></button>
                <div class="all-selectors-holder">
                    {% for x in y%}
                
                        <div class="selector-outer-holder"> 
                            <div class="selector-name">{{ x }}</div>
                            <div class="selector-holder" id="selector-holder">                            

                                <div class= "time-selector-div">
                                    <button class= "up-button" id= "hour-up-button" onclick= "upper_arrow(0, {{ forloop.counter0 }})">▲</button>
                                    <input type="number" id="hour{{ forloop.counter0 }}" 
                                        class="time-selector-input" min="0" max="99">
                                    <button class= "down-button" id= "hour-down-button" onclick= "lower_arrow(0, {{ forloop.counter0 }})">▼</button>
                                </div>


                                <div class= "time-selector-div">
                                    <button class= "up-button" id= "minute-up-button" onclick= "upper_arrow(1, {{ forloop.counter0 }})">▲</button>
                                    <input type="number" id="minute{{ forloop.counter0 }}" 
                                        class="time-selector-input" min="0" max="59" value="25">
                                    <button class= "down-button" id= "minute-down-button" onclick= "lower_arrow(1, {{ forloop.counter0 }})">▼</button>
                                </div>



                                <div class= "time-selector-div">
                                    <button class= "up-button" id= "second-up-button" onclick= "upper_arrow(2, {{ forloop.counter0 }})">▲</button>
                                    <input type="number" id="second{{ forloop.counter0 }}" 
                                        class="time-selector-input" min="0" max="59" value="0">
                                    <button class= "down-button" id= "second-down-button" onclick= "lower_arrow(2, {{ forloop.counter0 }})">▼</button>                
                                </div>

                            </div>
                            <div class="selector-void"></div>                        
                        </div>

                    {% endfor %}

                </div>


                <button id= 'save-button' onclick= "save_all_times()">Save</button>
            </div>
        </div>

        <div class="warning-background" id="pause-warning-background">
            <div class="warning-div">
                <p id="warning-p"></p>
                <div class="warning-button-holder">
                    <button class="warning-button" id="warning-yes-button" onclick="handle_pomo_reset(1)" style="background-color: rgb(145, 219, 34);">Yes</button>
                    <button class="warning-button" id="warning-no-button" onclick="handle_pomo_reset(2)" style="background-color: red;">No</button>
                </div>
            </div>
        </div>

        <div class="session-timer-flex">

            <span class="session-timer-span">
                <button class="session-start-button pressed-pause" id="session-start-button" onclick="handle_session_start()">
                    <img src="{% static "Play.png" %}" alt="">
                </button>
                <button class="session-pause-button pressed-pause" id="session-pause-button" onclick="handle_session_pause()">
                    <img src="{% static "pause.png" %}" alt="">
                </button>
                <div class= "timer-num timer_number0"  id = "timer_number0" onclick="handle_edit()"></div>
                <button class="session-reset-button" onclick="handle_session_reset()">
                    <img src="{% static "reset2.png" %}" alt="">
                </button>
            </span>



        </div>
        <div class="session-under-bar">
            <span>Session</span>
            <div class="session-timer-buttons">
                <button class="c3-button" onclick= "handle_session_3c()">3C</button>
                <button class="c4-button" onclick= "handle_session_4c()">4C</button>
                <button class="cc-button" onclick= "handle_edit()">Custom</button>
            </div>
            
        </div>



        <div class= "timer-grid">
            <div class= "timer-div">


                <button class="btn-top-left" onclick= "handle_pomo_reset(0)">
                    <img src="{% static "reset2.png" %}" alt="">
                </button>
                <button class="btn-top-right" id= "btn-top-right" onclick= "handle_edit()">
                    <span>Edit</span>
                </button>
                <button class="btn-bottom-left pressed-pause" id= "pomo-play-button" onclick= "handle_session_start()">
                    <img src="{% static "Play.png" %}" alt="">
                </button>
                <button class="btm-bottom-left pressed-pause" id= "pomo-pause-button" onclick= "handle_session_pause()">
                    <img src="{% static "pause.png" %}" alt="">
                </button>
                
                <button class="btn-bottom-right" onclick= "handle_pomo_pause()">
                    <span >Rest</span>
                </button>

                <div class="timer-circle" id="pomo-timer-circle">
                    <div class= "timer-num timer_number1"  id = "timer_number1">00:25:00</div>
                </div>
            </div>
            
            <div class= "timer-div rest-divs" id="rest-timer-overlay-div">
            </div>

            <div class= "timer-div rest-divs rest-timer-div" id="rest-timer-div" data-rest-css="{% static 'rest.css' %}">

                <span class="rest-timer-holder">
                    <div class="rest-timer-void">Rest</div>
                    <div class= "timer-num timer_number2"  id = "timer_number2">00:05:00</div>
                    <div class="rest-timer-void">
                        <button class="rest-skip-button" onclick="rest_skip_button()">Skip</button>
                        <button class="rest-plus5-button" onclick="plus5_button()">+5m</button>
                    </div>

                </span>
            </div>
            
            <div class="timeline-flex" id="timeline_flex">




            </div>          
            
        </div>
        


    </main>
{% endblock main %}


{% block js %}
    <script src= "{% static 'timer.js' %}" defer></script>
    <script>

        document.addEventListener('DOMContentLoaded', () => {
            alarmSound = new Audio('{% static "alarm.mp3" %}');
            alarmSound.volume = 0.9;
        });
        const isAuthenticated =
            {% if user.is_authenticated %}
                true
            {% else %}
                false
            {% endif %};
        
        timesInSeconds = {0: {{ preferred_sessionTime }}, 1: {{ preferred_cycleTime }}, 2: 300};
        Selected_times = JSON.parse(JSON.stringify(timesInSeconds));
        {%for x in y%}

        
        
            document.getElementById("timer_number" + {{forloop.counter0}}).innerHTML =
            format_time(Selected_times[{{forloop.counter0}}]);
            
            document.getElementById("hour" + {{forloop.counter0}}).value =
            Math.floor(Selected_times[{{forloop.counter0}}] / 3600);

            document.getElementById("minute" + {{forloop.counter0}}).value =
            Math.floor(Selected_times[{{forloop.counter0}}] / 60) % 60;

            document.getElementById("second" + {{forloop.counter0}}).value =
            Math.floor(Selected_times[{{forloop.counter0}}] % 60);
            
        {% endfor %}
    </script>
{% endblock js %}