{% extends "base.html" %}
{% load static %}



{% block css %}
    <link rel="stylesheet" href="{% static "timer.css" %}">
{% endblock css %}


{% block main %}
    <main id= "main-element">

        <div class="selector-overlay" id= "selector-overlay">
            <div class= "selector-div" id= 'selector-div'>
                {% for x in y%}
                    <div class="selector-outer-holder">
                        <div class="selector-name">{{ x }}</div>
                        <div class="selector-holder" id="selector-holder">
                            <button class="exit-button" onclick="handle_selector_exit()">X</button>

                            <div class= "time-selector-div">
                                <button class= "up-button" id= "hour-up-button" onclick= "upper_arrow(0, {{ forforloop.counter0 }})">↑</button>
                                <div id= "hour{{ forloop.counter0 }}" class= "time-selector-number">0</div>
                                <button class= "down-button" id= "hour-down-button" onclick= "lower_arrow(0, {{ forloop.counter0 }})">↓</button>
                            </div>
                            <div class= "two-dots">:</div>
                            <div class= "time-selector-div">
                                <button class= "up-button" id= "minute-up-button" onclick= "upper_arrow(1, {{ forloop.counter0 }})">↑</button>
                                <div id= "minute{{ forloop.counter0 }}" class= "time-selector-number">0</div>
                                <button class= "down-button" id= "minute-down-button" onclick= "lower_arrow(1, {{ forloop.counter0 }})">↓</button>
                            </div>
                            <div class= "two-dots">:</div>
                            <div class= "time-selector-div">
                                <button class= "up-button" id= "second-up-button" onclick= "upper_arrow(2, {{ forloop.counter0 }})">↑</button>
                                <div id= "second{{ forloop.counter0 }}" class= "time-selector-number">0</div>
                                <button class= "down-button" id= "second-down-button" onclick= "lower_arrow(2, {{ forloop.counter0 }})">↓</button>                
                            </div>
                            <button id= 'save-button' onclick= "save_time({{ forloop.counter0 }})">Save</button>                    
                        </div>
                        <div class="selector-void"></div>                        
                    </div>

                {% endfor %}
            </div>
        </div>

        <div class="warning-background" id="pause-warning-background">
            <div class="warning-div">
                <p id="warning-p"></p>
                <div class="warning-button-holder">
                    <button class="warning-button" id="warning-yes-button" onclick="handle_pomo_reset(1)">Yes</button>
                    <button class="warning-button" id="warning-no-button" onclick="handle_pomo_reset(2)">No</button>
                </div>
            </div>
        </div>

        <div class="session-timer-flex">

            <span class="session-timer-span">
                <button class="session-start-button pressed-pause" id="session-start-button" onclick="handle_session_start()">
                    <img src="{% static "Play.png" %}" alt="">
                </button>
                <button class="session-pause-button pressed-pause" id="session-pause-button" onclick="handle_session_pause()">
                    <img src="{% static "pause.png" %}" alt="">
                </button>
                <div class= "timer-num timer_number0"  id = "timer_number0" onclick="handle_edit()">01:25:00</div>
                <button class="session-reset-button" onclick="handle_session_reset()">
                    <img src="{% static "reset2.png" %}" alt="">
                </button>
            </span>



        </div>

        <div class="session-timer-buttons">
            <span style="font-size: 1.4rem;
                        ">Session</span>
            
        </div>


        <div class= "timer-grid">
            <div class= "timer-div">
                <button class="btn-top-left" onclick= "handle_pomo_reset(0)"><img src="{% static "reset2.png" %}" alt="">
                </button>
                <button class="btn-top-right" id= "btn-top-right" onclick= "handle_edit()"><span>Edit</span>
                </button>
                <button class="btn-bottom-left" onclick= "handle_session_start()"><img src="{% static "Play.png" %}" alt="">
                </button>
                <button class="btn-bottom-right" onclick= "handle_pomo_pause()"><span>Rest</span>
                </button>

                <div class="timer-circle" id="pomo-timer-circle">
                    <div class= "timer-num timer_number1"  id = "timer_number1">00:25:00</div>
                </div>
            </div>
            
            <div class= "timer-div rest-divs" id="rest-timer-overlay-div">     
            </div>

            <div class= "timer-div rest-divs rest-timer-div" id="rest-timer-div">

                <span class="rest-timer-holder">
                    <div class="rest-timer-void">rest</div>
                    <div class= "timer-num timer_number2"  id = "timer_number2">00:05:00</div>
                    <div class="rest-timer-void">
                        <button class="rest-skip-button" onclick="rest_skip_button()">Skip</button>
                        <button class="rest-plus5-button" onclick="plus5_button()">+5m</button>
                    </div>

                </span>
            </div>
            
        </div>
        


    </main>
{% endblock main %}


{% block js %}
    <script src= "{% static 'timer.js' %}" ></script>
{% endblock js %}
